<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv=x-ua-compatible content="IE=edge">
  <meta name=viewport content="width=device-width,minimum-scale=1">
  <title>{{ block "title" . }}
    {{ .Site.Title }}
  {{ end }}</title>
  <script>
    MathJax = {
      loader: {
        load: ['input/asciimath', 'output/chtml', 'ui/menu']
      },
      tex: {
        inlineMath: [['$', '$']]
      },
      asciimath: {
        delimiters: [['◊', '◊']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>
</head>
<body>
{{ block "main" . }}
{{ end }}
</body>
</html>
